# ---- docker-compose variables

DOCKER_POSTGRES_DB=postgres
DOCKER_POSTGRES_USER=postgres
DOCKER_POSTGRES_PASSWORD=postgres

DOCKER_PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
DOCKER_PGADMIN_DEFAULT_PASSWORD=pgadmin4

# ---- app variables

APP_DEBUG=False
APP_DB_URI=postgresql://postgres:postgres@app_postgres:5432/postgres
